:root {
    --bgcolor: #dbc4dc;
    --shadow: 2px 5px 2px rgba(43, 19, 19, 0.3);
    --corners: 6px;
    --text-color: #613c64;
    --light: rgb(250, 245, 245);
    --font-fam: 'Gochi Hand', cursive;
    --lighten-bgcolor: #f4e0f5;
    --transition-effect: all .2s ease;
    --dark-bgcolor: #3f1d3f;
    --dark-button-bgcolor: rgb(201, 112, 189);

}

body {
    background-color: var(--bgcolor);
    font-family: var(--font-fam);
    font-size: 12pt;
    color: var(--text-color);
}

header{
    margin: 2em 0em;
}

img {
    max-width: 100%;
}

form{
    margin: 0;
}
input {
    background-color: var(--light);
    border-style: none;
    outline: none;
    border-bottom: 1px solid var(--text-color);
    font-family: var(--font-fam);
    font-size: 12pt;
    color:var(--text-color);
}
button {
    border-radius: var(--corners);
    box-shadow: var(--shadow);
    font-family: var(--font-fam);
    background-color: var(--bgcolor);
    font-size: 12pt;
    transition: var(--transition-effect);
    cursor: pointer;
    outline: none;
    padding: 9px 9px;

}

button:hover {
    background-color: var(--lighten-bgcolor);
}

.button-dark-color{
    background-color: var(--dark-button-bgcolor);
}
.flex-elem {
    display: flex;
    align-items: center;
}
.flex-elem.space-between{
    justify-content: space-between;
}
.flex-elem.space-evenly{
    justify-content: space-evenly;
}

.card.dark-background{
    background-color:var(--dark-bgcolor);
}
.card.light-text{
    color: var(--light);
}

/* pumpbox style */
.pump {
    margin-top:70px;
    width: 120px;
    position: relative;
    align-self: flex-end;

}

.pump-handle {
    height: 10px;
    width: 80px;
    background-color:var(--dark-bgcolor);
    position: absolute;
    top: -50px;
    left: 20px;
    display: flex;
    justify-content: center;
    z-index: 1;

}

.pump-handle::before{
    content: " ";
    background-color: var(--dark-bgcolor);
    height: 70px;
    width: 10px;
    display: block;
    transition: all 1s linear;
    
}

.pump:active .pump-handle {
    top: -30px;

}
.pump-box{
    background-color: var(--dark-button-bgcolor);
    height: 100px;
    width: 120px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    user-select: none;
}

.pump-box span {
    background-color: azure;
    padding: 0.7em;

}

.balloon-container {
    height: 250;
}
.balloon {
    height: 120px;
    width: 100px;
    background-color: rgb(223, 137, 204);
    border-radius: 50%;
    transition: var(--transition-effect);
    animation: balloon-float-anime 5s ease-in-out 5s;
    align-self: flex-end;
    margin: 0 auto;
    box-shadow: inset -10px -0.2px 4px rgba(46, 11, 11, 0.3);
}

.balloon-violet{
    filter: hue-rotate(1045deg);
}

.balloon-green{
    filter: hue-rotate(523deg);
}

@keyframes balloon-float-anime {
    0%, 100% {
        transform: translateY(-25px) rotate(19deg);
    }
    50% {
        transform: translateY(0px) rotate(-19deg);
    }
}

.container {
    width: 50%;
    margin: auto;
}


.shadow{
    filter: drop-shadow(var(--shadow));
}

.card {
    background-color: var(--light);
    padding: 2em 2em;
    box-shadow: var(--shadow);
    border-radius: var(--corners);
    align-content: space-between;
    align-content: center;
}



.hidden-functionality{
    display: none;
}

 /* utility classes */
/* margin top  */
.mt-1 {
    margin-top: .5em;
}
.mt-2{
    margin-top: 1em;
}
.mt-3{
    margin-top: 1.5em;
}

/* padding top */
.pad-1 {
    padding-top: .5em;
}
.pad-2{
    padding-top: 1em;
}
.pad-3{
    padding-top: 1.5em;
}

/* text */
.text-center{
    text-align: center;
}


